<app-header></app-header>
<app-navbar></app-navbar>
<div class="row" style="width: 100%">
  <div align="center" style="margin-bottom: 20px">
    <h1>List Facility</h1>
    <a routerLink="/facility/create" role="button" class="btn btn-primary">Create Facility</a>
  </div>
  <table class="table table-striped table-bordered" style="margin-left: 10px">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
      <th scope="col">Cost</th>
      <th scope="col">Max People</th>
      <th scope="col">Standard Room</th>
      <th scope="col">Description Other Convenience</th>
      <th scope="col">Pool Area</th>
      <th scope="col">Number Of Floors</th>
      <th scope="col">Facility Free</th>
      <th scope="col">Facility Type</th>
      <th scope="col">Rent Type</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ft of facility; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{ft.name}}</td>
      <td>{{ft.area}}</td>
      <td>{{ft.cost}}</td>
      <td>{{ft.maxPeople}}</td>
      <td>{{ft.standardRoom}}</td>
      <td>{{ft.descriptionOtherConvenience}}</td>
      <td>{{ft.poolArea}}</td>
      <td>{{ft.numberOfFloors}}</td>
      <td>{{ft.facilityFree}}</td>
      <td>{{ft.facilityType.name}}</td>
      <td>{{ft.rentType.name}}</td>
      <td><a [routerLink]="['/facility/edit',ft.id]" role="button" class="btn btn-primary">Edit</a>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you want to delete this facility ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                </button>
                <a role="button"
                   class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" style="margin-top: 20px;margin-left: 20px">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>
