<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light bg-success" style="height: 72px;width: 100%;">
  <div class="container-fluid" style="margin-left: 40px">
    <a routerLink="" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item">List Employee</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/customer/list" class="dropdown-item">List Customer</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facility
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a routerLink="/facility/list" class="dropdown-item">List Facility</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4"
             role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Contract
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a routerLink="/contract/list" class="dropdown-item">List Contract</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <input #nameSearch class="form-control me-2" type="search" placeholder="Search name" aria-label="Search">
        <select #facilitySearch>
          <option *ngFor="let ft of facilityType" [ngValue]="ft">{{ft.name}}</option>
        </select>
        <button (click)="searchName(nameSearch.value,facilitySearch.value)" style="color: black;background: green"
                class="btn btn-outline-success" type="submit">
          Search
        </button>
      </ul>
    </div>
  </div>
</nav>

<div class="row" style="width: 100%">
  <div align="center" style="margin-bottom: 20px">
    <h1>List Facility</h1>
    <a routerLink="/facility/create" role="button" class="btn btn-primary">Create Facility</a>
  </div>
  <table class="table table-striped table-bordered" style="margin-left: 10px">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
      <th scope="col">Cost</th>
      <th scope="col">Max People</th>
      <th scope="col">Standard Room</th>
      <th scope="col">Description Other Convenience</th>
      <th scope="col">Pool Area</th>
      <th scope="col">Number Of Floors</th>
      <th scope="col">Facility Free</th>
      <th scope="col">Facility Type</th>
      <th scope="col">Rent Type</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ft of facility; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{ft.name}}</td>
      <td>{{ft.area}}</td>
      <td>{{ft.cost}}</td>
      <td>{{ft.maxPeople}}</td>
      <td>{{ft.standardRoom}}</td>
      <td>{{ft.descriptionOtherConvenience}}</td>
      <td>{{ft.poolArea}}</td>
      <td>{{ft.numberOfFloors}}</td>
      <td>{{ft.facilityFree}}</td>
      <td>{{ft.facilityType.name}}</td>
      <td>{{ft.rentType.name}}</td>
      <td><a [routerLink]="['/facility/edit',ft.id]" role="button" class="btn btn-primary">Edit</a>
      <td>
        <button (click)="temp=ft" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you want to delete this <span style="color: red;font-weight: bold">{{ft.name}}</span> facility ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                </button>
                <button (click)="deleteFacility(temp.id)" data-bs-dismiss="modal" role="button"
                        class="btn btn-primary">Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" style="margin-top: 20px;margin-left: 20px">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>
