<app-header></app-header>
<app-navbar></app-navbar>
<div style="height: 70%">
  <div align="center">
    <h1>Create Facility</h1>
    <a routerLink="/facility/list" role="button" class="btn btn-primary">Back list</a>
  </div>
  <input type="hidden">
  <div class="mb-3">
    <label>Facility Type: </label>
    <select id="change" onchange="facility()">
      <option value="" selected>Select Facility Type</option>
      <option *ngFor="let ft of facilityTypeList" [value]="ft.id">{{ft.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Name:</label>
    <input class="form-control" type="text">
  </div>
  <div class="mb-3">
    <label>Area:</label>
    <input class="form-control" type="number">
  </div>
  <div class="mb-3">
    <label>Cost:</label>
    <input type="number" class="form-control">
  </div>
  <div class="mb-3">
    <label>Max People:</label>
    <input type="number" class="form-control">
  </div>
  <div class="mb-3">
    <label>Rent Type:</label>
    <select>
      <option *ngFor="let rt of rentTypeList" [value]="rt.id">{{rt.name}}</option>
    </select>
  </div>
  <div id="sr" class="mb-3">
    <label>Standard Room:</label>
    <input type="text" class="form-control">
  </div>
  <div id="doc" class="mb-3">
    <label>Description Other Convenience:</label>
    <input type="text" class="form-control">
  </div>
  <div id="pa" class="mb-3">
    <label>Pool Area: </label>
    <input type="number" class="form-control">
  </div>
  <div id="nof" class="mb-3">
    <label>Number Of Floors: </label>
    <input class="form-control" type="number">
  </div>
  <div id="ff" class="mb-3">
    <label>Facility Free: </label>
    <input class="form-control" type="text">
  </div>
  <button class="btn btn-primary" type="submit">Create</button>
</div>
<app-footer></app-footer>
